@model Blog.Models.PostViewModels.CreateEditPostViewModel

@{
    Layout = "_AdminLayout";
}

<div class="d-flex justify-content-center">
    <form id="createPostForm" class="col-md-10" asp-controller="Post" asp-action="Create" method="post" role="form">
        <h4 class="text-secondary">Create a new post</h4>
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="Post.BlogId"></label>
            <select class="form-control" asp-for="Post.BlogId"
                    asp-items="@(new SelectList(Model.UsersBlogs, "Id", "Name"))">
                <option value="">Which Blog do you want to create a post for?</option>
            </select>
            <span asp-validation-for="Post.BlogId" class="text-danger"></span>
        </div>
        <!-- /.form-group -->

        <div class="form-group">
            <label asp-for="Post.Title"></label>
            <input asp-for="Post.Title" class="form-control">
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
            <label asp-for="Post.Body"></label>
            <textarea rows="12" asp-for="Post.Body" class="form-control"></textarea>
            <span asp-validation-for="Post.Body" class="text-danger"></span>
        </div>
        <!-- /.form-group -->
        @foreach (var tag in Model.Tags)
        {
            <div class="checkbox">
                <input data-attribute="TAG_ID" type="checkbox"
                       name="@tag.Name"
                       value="@tag.Id" />
                <label class="badge badge-dark">@tag.Name.ToUpper()</label>
            </div>
        }
        <input type="hidden" asp-for="TagIds" />
        <div class="form-group">
            <button id="createPostButton" type="button" class="btn btn-primary">Create</button>
        </div>
        <!-- /.form-group -->
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/posts.js"></script>
    }
}